@font-face {
    font-family: 'Bubbler One';
    src: url(/fonts/BubblerOne-Regular.ttf);
    /* A convertir en woff */
}

body {
    background-color: #41BABE;
}

header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 4%;
}

header nav a {
    width: 50%;
}

img[alt=logo] {
    width: 35%;
}

img[alt=piece] {
    position: relative;
    width: 10%;
    height: 10%;
    left: 15%;
}

img[alt=avatar] {
    border-radius: 50%;
    width: 35%;
}

section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}


button {
    padding: 15% 15%;
    margin: 20% 0;
    border-radius: 20px;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}

a button {
    text-decoration: none;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
    font-size: 1.700em;
}

a button:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 50%;
        margin: 0 auto;
    }

    button {
        margin: 10% 0;
    }
}

@media screen and (min-width: 750px) {

    section {
        display: flex;
        flex-direction: column;
    }

    button {
        padding: 15%;
        margin: 10%;
    }

    header img {
        margin-top: 3%;
    }
}

@media screen and (min-width:1030px) {
    body {
        max-width: 45%;
        margin: 0 auto;
    }

    img[alt=logo] {
        width: 50%;
    }

    img[alt=avatar] {
        width: 50%;
    }
}