@font-face {
    font-family: 'Bubbler One';
    src: url(/fonts/BubblerOne-Regular.ttf);
    /* A convertir en woff */
}

header {
    display: flex;
    justify-content: space-between;
    margin: 7% 5%;
    
}

/* section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
} */

.bloc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
}

.button1 {
    position: absolute;
    top: 20%;
    left: 45%;
    
    border-radius: 50%;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}
.button2 {
    position: absolute;
    top: 30%;
    left: 25%;
    
    border-radius: 50%;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}
.button3 {
    position: absolute;
    top: 50%;
    left: 45%;
    
    border-radius: 50%;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}
.button4 {
    position: absolute;
    top: 60%;
    left: 25%;
    
    border-radius: 50%;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}

a button {
    text-decoration: none;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}
a button:hover{
    cursor: pointer;
}

img[alt=logo] {
    width: 10%;
    height: 10%;
}

img[alt=piece] {
    height: 10%;
    width: 10%;
}

img[alt=avatar] {
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 50%;
        margin: 0 auto;
    }

    .bloc {
        text-align: center;
    }

    button {
        margin: 20% 0;
        
    }
   
}

@media screen and (min-width: 750px) {
    section {
        display: flex;
        flex-direction: column;
    }

    button {
        padding: 4%;
        margin: 5%;
    }
    header img {
        margin-top: 3%;
    }
}