@font-face {
    font-family: 'Bubbler One';
    src: url(/fonts/BubblerOne-Regular.ttf);
    /* A convertir en woff */
}

body {
    background-color: #41BABE;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
}

header a {
    width: 50%;
}

img[alt=logo] {
    width: 25%;
}

img[alt=piece] {
    width: 40%;
}

img[alt=avatar] {
    border-radius: 50%;
    width: 40%;
}

section {
    margin-top: 10%;
}

section h1 {
    font-family: 'Bubbler One', sans-serif;
    color: #FFF;
    text-transform: uppercase;
}

.main {
    position: relative;
}

a button:hover {
    cursor: pointer;
}

button {
    background-color: #9373ab;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
    border: none;
    color: #FFF;
    font-family: 'Bubbler One';
    font-size: 1.125em;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
}

.puzzle {
    position: relative;
    left: 5%;
}

.trouvergagner {
    position: absolute;
    left: 45%;
    top: 65%;
}

.memory {
    position: absolute;
    top: 130%;
    left: 6%;
}

.devineimage {
    position: absolute;
    top: 180%;
    left: 65%;
}

.online {
    position: absolute;
    top: 240%;
    left: 25%;
}

@media screen and (min-width: 430px) {
    .puzzle {
        left: 15%;
    }

    .online {
        left: 35%;
        top: 220%;
    }
}

@media screen and (min-width: 600px) {
    body {
        max-width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 960px) {
    section {
        margin-top: 5%;
    }
}