body {
    background-color: #41BABE;
}

header img {
    width: 10%;
}

img[alt="avatar"] {
    width: 45%;
    border-radius: 100%;
}

.head {
    text-align: center;
    font-size: 1.125rem;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
}

.head a {
    text-decoration: none;
}

img[alt="modifier"] {
    width: 3%;
    transform: rotate(-150deg);
}

.bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.bloc button {
    background-color: #9373ab;
    border: none;
    padding: 5% 15%;
    margin: 5%;
    cursor: pointer;
    border-radius: 20px 20px;
}


.bloc button a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.125rem;
}

.timer::before {
    content: url(../pictures/svg/001-locked.svg);
}

.deconnexion::before {
    content: url(../pictures/svg/002-unlocked.svg);
}