body {
    background-color: #41BABE;
    overflow: hidden;
    opacity: 0;
}

header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 4%;
}

header img {
    width: 50%;
}

.logo {
    width: 50px;
}

.avatarCompte {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}


button {
    padding: 15% 15%;
    margin: 20% 0;
    border-radius: 20px;
    background-color: #9373ab;
    box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    border: none;
}

a button {
    text-decoration: none;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
    font-size: 1.700em;
}

a button:hover {
    cursor: pointer;
}

.main a:last-child {
    pointer-events: none;
}

.indisponible {
    filter: grayscale(1);
}

/* MODAL */

.suivant {
    width: 70px;
}

.btn-secondary,
.btn-secondary:hover {
    color: transparent;
    background-color: transparent;
    border: 0;
}

.modal-header button {
    box-shadow: none;
    margin: 0%;
}

.ako {
    width: 200px;
    position: absolute;
    left: -70px;
    top: 55%;
    transform: rotate(10deg);
}

.modal-content {
    border: none;
    border-radius: 0;
    background-color: transparent;
    height: 500px;
}

.modal-header {
    border-bottom: 0;
}

.debutJeu {
    display: flex;
}

.circular-sb {
    width: 250px;
    height: 180px;
    border: 1px solid #FFF;
    border-radius: 70px;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    top: 30%;
    left: 20%;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.circular-sb p {
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    color: #FFF;
    transform: translateY(-50%);
    padding: 10px;
}

.circle3 {
    border: 1px solid #FFF;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 10%;
    top: 30%;
    background-color: #9373ab;
}

.circle4 {
    border: 1px solid #FFF;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 30%;
    left: 5%;
}

.fleche {
    position: relative;
    left: 40%;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:focus {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

#close {
    position: absolute;
    left: 65%;
    top: 60%;
}

#modalAge {
    display: none;
}

.choix_age {
    display: flex;
}

.choix_age .circular-sb {
    width: 200px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 70px;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    top: 80%;
    left: 15%;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}


.choix_age .circle3 {
    border: 1px solid #FFF;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 10%;
    top: -10px;
    background-color: #9373ab;
}

.choix_age .circle4 {
    border: 1px solid #FFF;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: -10px;
    left: 5%;
}

.AKO {
    width: 100px;
    position: absolute;
    top: 85%;
    transform: rotate(10deg);
}

.arrow {
    position: absolute;
    top: 30%;
    left: 5%;
}

.arrow2 {
    position: absolute;
    top: 60%;
    left: 5%;
}


/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
        margin: 0 auto;
    }

    button {
        margin: 10% 0;
    }

    .fleche {
        left: 50%;
    }

    .arrow {
        left: 20%;
        top: 35%;
    }

    .arrow2 {
        left: 20%;
        top: 65%;
    }

    .choix_age .circular-sb {
        left: 25%;
    }

    
.circular-sb {
    width: 300px;
    height: 180px;
    top: 30%;
    left: 20%;
}

    
#close {
    left: 65%;
    top: 55%;
}

}

@media screen and (min-width: 750px) {
    body {
        max-width: 70%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    button {
        padding: 15%;
        margin: 10%;
    }

    .fleche {
        left: 20%;
    }

    .arrow {
        left: 30%;
        top: 35%;
    }

    .arrow2 {
        left: 30%;
        top: 65%;
    }
}

@media screen and (min-width:1030px) {
    body {
        max-width: 50%;
        margin: 0 auto;
    }

    .arrow {
        left: 35%;
        top: 35%;
    }

    .arrow2 {
        left: 35%;
        top: 65%;
    }

    .choix_age .circular-sb {
        left: 30%;
    }
}