body {
  background: #41BABE;
  overflow: hidden;
  height: 100vh;
}

header img{
  width: 40px;
  cursor: pointer;
}

.bulle {
  display: flex;
}

.circular-sb {
  width: 170px;
  height: 100px;
  border: 1px solid #FFF;
  border-radius: 70px;
  text-align: center;
  background-color: #9373ab;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-family: 'Bubbler One', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.circular-sb p {
  position: relative;
  top: 50%;
  color: #FFF;
  transform: translateY(-50%);
  margin: 0;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.circle3 {
  border: 1px solid #FFF;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 25%;
  top: 35%;
  background-color: #9373ab;
}

.circle4 {
  border: 1px solid #FFF;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 40%;
  left: 35%;
}

.bulle .ako {
  width: 180px;
  position: absolute;
  left: 25%;
  top: 50%;
}

.bulle .son {
  width: 35px;
  position: relative;
  top: -15px;
  left: 35px;
  cursor: pointer;
}

.boolean {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  z-index: 2;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #9373ab;
  color: #FFF;
  font-family: 'Bubbler One', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.retour {
  width: 50px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 65%;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 400px) {
  body {
    max-width: 400px;
    margin: 10px auto;
  }
}

@media screen and (min-width: 500px) {
  .bulle .ako {
    left: 35%;
  }
}

@media screen and (min-width: 700px) {
  img[alt=logo] {
    width: 50px;
  }

  .bulle .ako {
    left: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .bulle .ako {
    left: 550px;
  }
}