body {
  background: #41BABE;
  overflow: hidden;
  height: 100vh;
}

header nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 2%;
}

header nav a {
  width: 20%;
}

header .logo{
  width: 55%;
}

header .avatarCompte {
  border-radius: 50%;
  width: 75%;
}

header h1 {
  font-family: 'Bubbler One', cursive;
  color: #473A53;
  text-align: center;
  margin: 2% 0;
  text-transform: uppercase;
}

.main {
  margin: 10px;
}

.main p {
  color: #473A53;
  text-transform: uppercase;
  font-family: 'Bubbler One', cursive;
  line-height: 35px;
  font-size: 1.125rem;
  opacity: 1;
  text-align: center;
}

.footer {
  height: 200px;
}

.footer .son {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 80%;
}

.ako {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 65%;
  left: -20%;
  transform: rotate(-10deg);
}

.animo {
  width: 35%;
  position: absolute;
  top: 70%;
  left: 45%;
  transform: rotate(20deg);
}

.suivant {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 60%;
  top: 115%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 335px) {
  .suivant {
    left: 65%;
    top: 95%;
  }
}


@media screen and (min-width: 430px) {
  .ako {
    left: 0%;
  }
}

@media screen and (min-width: 545px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }

  .animo {
    width: 130px;
  }
}

@media screen and (min-width: 600px) {
  .ako {
    left: 10%;
  }
}

@media screen and (min-width: 725px) {
  header nav a {
    width: 20%;
  }
.avatarCompte {
    width: 70px;
  }
}

@media screen and (min-width: 830px) {
  .ako {
    left: 15%;
  }
}

@media screen and (min-width: 970px) {

  header nav {
    margin-bottom: 0;
  }

  header nav a {
    width: 100px;
  }

  .ako {
    left: 20%;
    top: 55%;
  }

  .animo {
    top: 65%;
  }
}

@media screen and (min-width: 1200px) {
  .ako {
    left: 25%;
  }
}