body {
    background-color: #41BABE;
    margin: 0;
    font-family: 'Bubbler One', sans-serif;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin: 4%;
}

.logo {
    width: 50px;
}

.avatarCompte {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

section {
    margin-top: 15%;
}

section img[alt=pieuvre] {
    position: relative;
    width: 40%;
    left: -5%;
}

.circular-sb {
    width: 100px;
    height: 100px;
    border: 2px solid #FFF;
    border-radius: 50%;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    top: 15%;
    left: 30%;
}

.circular-sb p {
    position: relative;
    top: 50%;
    color: #FFF;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
}

.circle3 {
    border: 2px solid #FFF;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 20%;
    top: 50%;
    background-color: #9373ab;
}

.circle4 {
    border: 2px solid #FFF;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 40%;
    left: 10%;
}

.conversation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main {
    margin: 0;
}

input:hover {
    cursor: pointer;
}

.monuments {
    position: absolute;
    top: 35%;
    left: 50%;
}

.animaux {
    position: absolute;
    top: 45%;
    left: 15%;
}

.mythes {
    position: absolute;
    top: 60%;
    left: 55%;
}

.drapeaux {
    position: absolute;
    top: 75%;
    left: 20%;
}


.main input {
    background-color: #9373ab;
    -webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
    border: none;
    color: #FFF;
    font-size: 1.125em;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    text-transform: uppercase;
    font-family: 'Bubbler One';
}

button {
    background-color: #9373ab;
    -webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
    border: none;
    color: #FFF;
    font-size: 1.125em;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    text-transform: uppercase;
    font-family: 'Bubbler One';
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
        margin: 0 auto;
    }
    
    section {
        margin-top: 5%;
    }

    .animaux {
        left: 30%;
    }

    .monuments {
        left: 60%;
    }

    .mythes {
        left: 60%;
        top: 70%;
    }

    .drapeaux {
        left: 25%;
    }

    .conversation {
        padding-top: 10%;
    }

    .circular-sb {
        left: 40%;
        top: 15%;
    }


    /* .main input {
        font-size: 1.400em;
        border-radius: 100px;
        width: 120px;
        height: 120px;
    } */

    button {
        font-size: 1.400em;
        border-radius: 100px;
        width: 120px;
        height: 120px;
    }

}

@media screen and (min-width: 700px){
    .animaux {
        left: 35%;
    }
    .drapeaux {
        left: 30%;
    }
}

@media screen and (min-width: 800px) {
    .circular-sb {
        top: 15%;
    }

    .monuments {
        left: 55%;
    }

    .mythes {
        left: 55%;
    }
}

@media screen and (min-width: 1000px) {
    .circular-sb {
        top: 20%;
    }

    .animaux {
        left: 40%;
    }

    .drapeaux {
        left: 35%;
    }
}

@media screen and (min-width: 1200px) {
    .conversation {
        padding-top: 0;
    }

    section img[alt=pieuvre] {
        left: 1%;
    }

    .circular-sb {
        top: 10%;
    }

    .drapeaux {
        left: 35%;
    }

    .mythes {
        left: 50%;
    }
}