body {
    overflow: hidden;
    height: 100vh;
    background-color: #41babe;
}

.conversation {
    display: flex;
  }
  
.circular-sb {
    width: 120px;
    height: 130px;
    border: 1px solid #FFF;
    border-radius: 70px;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    left: 50%;
    top: 15%;
    color: #FFF;
    font-family: 'Bubbler One', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
}
  
.circular-sb p {
    position: relative;
    top: 50%;
    color: #FFF;
    transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
    line-height: 1.5rem;
}
  
.circle3 {
    border: 1px solid #FFF;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 15%;
    top: 30%;
    background-color: #9373ab;
}

.circle4 {
    border: 1px solid #FFF;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 25%;
    left: 5%;
}
  
.conversation .ako {
    width: 70%;
    position: absolute;
    left: -20%;
    transform: rotate(10deg);
    top: 30%;
}
  
.conversation .son {
    width: 30%;
    position: relative;
    top: 55px;
    left: 30px;
    cursor: pointer;
}
  
  .suivant {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #9373ab;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 65%;
    top: 87%;
}

form {
    position: absolute;
    top: 80%;
    display: flex;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

input[type=text]{
    width: 150px;
    margin-right: 20px;
    background-color: #9373ab;
}

input[type=text]::placeholder{
    color: #FFF;
}

input[type=text],
input[type=submit] {
    border-radius: 40px;
    padding: 10px;
    border: 0;
    font-family: 'Bubbler One', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FFF;
}

input[type=submit]{
    width: 40px;
    height: 40px;
    background-color: #473A53;
}
  
@media screen and (min-width: 345px){
.conversation .ako {
      width: 200px;
      left: 5%;
      top: 40%;
    }
}
  
@media screen and (min-width: 545px){
    body {
      max-width: 500px;
      margin: 0 auto;
    }

    .conversation .ako {
        left: 20%;
    }
}
@media screen and (min-width: 600px){
    .conversation .ako {
        left: 30%;
    }
}
@media screen and (min-width: 1200px){
    .conversation .ako {
        left: 35%;
    }
}