body {
    overflow: hidden;
    height: 100vh;
    background-color: #41babe;
    opacity: 0;
    
}

.conversation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
.circular-sb {
    width: 120px;
    height: 130px;
    border: 1px solid #FFF;
    border-radius: 70px;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    left: 50%;
    top: 10%;
    color: #FFF;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}
  
.circular-sb p {
    position: relative;
    top: 50%;
    color: #FFF;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
    line-height: 1.5rem;
}
  
.circle3 {
    border: 1px solid #FFF;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 15%;
    top: 45%;
    background-color: #9373ab;
}

.circle4 {
    border: 1px solid #FFF;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 45%;
    left: 5%;
}
  
.conversation .ako {
    width: 70%;
    position: absolute;
    left: -20%;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: 25%;
}
  
.suivant {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #9373ab;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 65%;
    top: 87%;
}

.son {
    width: 40px;
    position: absolute;
    top: 80%;
}

button:not(.retour) {
    border: none;
    background-color: #9373ab;
    color: #FFF;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
}

form {
    position: absolute;
    top: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 
input {
    margin-bottom: 10px;
    width: 150px;
    background-color: #9373ab;
    border-radius: 40px;
    padding: 10px;
    border: 0;
    font-family: 'Bubbler One', sans-serif;
    font-size: 1.2rem;
    color: #FFF;
}

input::-webkit-input-placeholder{
    color: #FFF;
}

input:-ms-input-placeholder{
    color: #FFF;
}

input::-ms-input-placeholder{
    color: #FFF;
}

input::placeholder{
    color: #FFF;
}

input[type=submit]{
    width: 40px;
    height: 40px;
    background-color: #473A53;
}

h1 {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
    color: #473A53;
    margin-bottom: 10px;
}

#boutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    position: relative;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#boutons button {
    margin-bottom: 20px;
    -webkit-box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
            box-shadow: 7px 11px 25px -8px rgba(0, 0, 0, 0.67);
    cursor: pointer;
}

#boutons button:hover,
#boutons button:active {
    background-color: #473A53;
}


.retour {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 80%;
    display: none;
}

button.retour img{
    width: 50px;
}

  
@media screen and (min-width: 345px){
.conversation .ako {
      width: 200px;
      left: 5%;
    }
}
  
@media screen and (min-width: 545px){
    body {
      max-width: 500px;
      margin: 0 auto;
    }

    .conversation .ako {
        left: 20%;
        top: 35%;
    }
}
@media screen and (min-width: 600px){
    .conversation .ako {
        left: 30%;
    }

    form {
        width: 600px;
    }

    .retour {
        left: 65%;
    }
}
@media screen and (min-width: 1200px){
    .conversation .ako {
        left: 35%;
    }
}