body {
  overflow: hidden;
  background-color: #41BABE;
  height: 100vh;
  opacity: 0;
}

.conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circular-sb {
  width: 260px;
  height: 150px;
  border: 1px solid #FFF;
  border-radius: 70px;
  text-align: center;
  background-color: #9373ab;
  position: absolute;
  top: 15%;
  color: #FFF;
  font-family: 'Bubbler One', cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.circular-sb p {
  position: relative;
  top: 50%;
  color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.circle3 {
  border: 2px solid #FFF;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 60%;
  top: 40%;
  background-color: #9373ab;
}

.circle4 {
  border: 2px solid #FFF;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 40%;
  left: 70%;
}

.conversation .ako {
  width: 70%;
  position: absolute;
  left: 40%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  top: 50%;
}

.suivant {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 87%;
  animation: infinite zoom ease 3s;
}

@keyframes zoom {
  from {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 70px;
    height: 70px;
  }

  to {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 345px){
  .conversation .ako {
    width: 200px;
  }
}

@media screen and (min-width: 545px){
  body {
    max-width: 500px;
    margin: 0 auto;
  }

  .circular-sb {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }

  .conversation .ako {
    top: 45%;
    left: 50%;
  }
}