body {
    background-color: #41BABE;
    margin: 0;
    font-family: 'Bubbler One', sans-serif;
    overflow: hidden;
    height: 100vh;
    opacity: 0;
}

header {
    margin: 4% 2%;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
}

header nav a {
    width: 20%;
}

.logo {
    width: 50px;
}

.avatarCompte {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

header h1 {
    font-family: 'Bubbler One', sans-serif;
    color: #473A53;
    text-align: center;
    margin: 2% 0;
    text-transform: uppercase;
}

section img[alt=Ako] {
    position: relative;
    width: 230px;
    left: 50%;
}

.conversation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.circular-sb {
    width: 110px;
    height: 110px;
    border: 2px solid #FFF;
    border-radius: 50%;
    text-align: center;
    background-color: #9373ab;
    position: absolute;
    top: 23%;
    left: 30%;
}

.circular-sb p {
    position: relative;
    top: 50%;
    color: #FFF;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
}

.circle3 {
    border: 2px solid #FFF;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 60%;
    top: 40%;
    background-color: #9373ab;
}

.circle4 {
    border: 2px solid #FFF;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 40%;
    left: 80%;
}

h1 {
    text-align: center;
    color: #473A53;
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
}

a button:hover {
    cursor: pointer;
}

button {
    background-color: #9373ab;
    -webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.75);
    border: none;
    color: #FFF;
    font-family: 'Bubbler One';
    font-size: 1.125em;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
}

.puzzle {
    position: absolute;
    top: 40%;
    left: 10%;
}

.puzzle button,
.memory button {
    width: 70px;
    height: 70px;
}

.devine button {
    width: 80px;
    height: 80px;
}

.memory {
    position: absolute;
    top: 55%;
    left: 60%;
}

.trouver {
    position: absolute;
    top: 55%;
    left: 20%;
    pointer-events: none;
}

.devine {
    position: absolute;
    top: 80%;
    left: 20%;
}

.online {
    position: absolute;
    top: 70%;
    right: 10%;
    pointer-events: none;
}

.trouver button,
.online button{
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: .7;
}

button:active,
button:focus,
button:hover {
    background-color: #473A53;
}


/* MEDIA QUERIES */
@media screen and (min-width: 380px) {
    .circular-sb {
        left: 40%;
    }
}

@media screen and (min-width: 420px) {
    .circular-sb {
        left: 50%;
    }
}

@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
        margin: 0 auto;
    }

    section img[alt=Ako] {
        width: 200px;
    }

    .circular-sb {
        left: 40%;
    }

    .puzzle {
        left: 25%;
    }

    .trouver {
        left: 30%;
    }

    .devine {
        left: 40%;
    }

    .online {
        right: 20%;
    }
}

@media screen and (min-width: 620px) {
    .circular-sb {
        left: 45%;
        top: 25%;
    }

    .trouver {
        left: 35%;
    }

    .memory {
        top: 60%;
    }

    .online {
        top: 80%;
    }
}


@media screen and (min-width: 800px) {

    .online {
        left: 55%;
    }

    .devine {
        left: 30%;
    }
}

@media screen and (min-width: 880px) {
    h1 {
        margin: 0;
    }

    .circular-sb {
        left: 45%;
    }

    .conversation {
        height: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .conversation {
        height: 250px;
    }

    .circular-sb {
        top: 30%;
    }

    .trouver {
        left: 40%;
    }

    .puzzle {
        left: 30%;
    }

    .online {
        left: 50%;
    }

    .memory {
        top: 65%;
    }
}

/* @media screen and (min-width: 1001px) {
    .circular-sb {
        top: 35%;
    }

    .trouver {
        top: 60%;
    }
} */