body {
    background-color: #41BABE;
    color: #fff;
    font-family: 'Bubbler One', cursive;
    overflow-x: hidden;
    opacity: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 50px;
}

p {
    font-size: 1.225rem;
    background-color: #9373ab;
    padding: 4%;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    margin: 0;
}

.ako {
    width: 30%;
    position: absolute;
    right: -5%;
    top: 10%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90%;
    margin: 10% auto 0 auto;
}

section img {
    margin: 5%;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.return {
    border-radius: 100%;
    height: 50px;
    cursor: pointer;
    float: right;
    margin-right: 20%;
    margin-bottom: 10px;
}

section div {
    display: none;
}

@media screen and (min-width:360px) {
    section {
        margin-top: 6%;
    }
}

@media screen and (min-width:360px) {
    section {
        margin-top: 0;
    }
}

@media screen and (min-width:490px) {
    section {
        max-width: 80%;
    }
}

@media screen and (min-width:550px) {
    section {
        max-width: 70%;
    }
}

@media screen and (min-width:625px) {
    section {
        max-width: 80%;
    }

    section div {
        display: inherit;
        width: 100%;
    }

    section img {
        margin: 3%;
    }
}

@media screen and (min-width:670px) {
    section {
        max-width: 60%;
    }
}

@media screen and (min-width:840px) {
    body {
        max-width: 60%;
        margin: 2% auto 0;
    }

    .ako {
        width: 20%;
    }

    section {
        max-width: 80%;
        margin-top: 5%;
    }
}

@media screen and (min-width:1100px) {
    body {
        margin-bottom: 0;
        margin-top: 10px;
    }

    p {
        font-size: 1.5rem;
    }

    section {
        max-width: 500px;
        margin-top: 20px;
    }
}