body {
    background-color: #41BABE;
    color: #fff;
    font-family: 'Bubbler One', cursive;
    overflow: hidden;
    height: 100vh;
}

header img {
    width: 15%;
}

.avatar {
    border-radius: 100px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10% 0;
}

.ako {
    width: 30%;
    position: absolute;
    left: -10%;
    top: 55%;
    transform: rotate(20deg);
}

p {
    position: relative;
    font-size: 1.225rem;
    background-color: #9373ab;
    padding: 4%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto 15%;
    width: 70%;
    max-width: 400px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.checked {
    width: 55px;
    height: 55px;
    cursor: pointer;
    fill: rgb(114, 224, 80);
}

.return {
    width: 50px;
    border-radius: 100%;
    height: 45px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    header img {
        width: 10%;
    }

    .avatar {
        width: 40%;
        margin: 5% 0;
    }

    p {
        margin-bottom: 10%;
    }

    .footer {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 495px) {
    .avatar {
        width: 35%;
    }

    p {
        margin-bottom: 5%;
    }

    .footer {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 575px) {
    body {
        max-width: 80%;
        margin: 2% auto 0;
    }

    header img {
        width: 10%;
    }

    .avatar {
        width: 30%;
        margin: 10% 0;
    }

    .ako {
        width: 20%;
        left: 10%;
        top: 55%;
    }

    p {
        width: 50%;
        margin-bottom: 10%;
    }

    .footer {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width:700px) {
    body {
        max-width: 75%;
    }

    .avatar {
        margin: 5% 0;
    }

    p {
        margin: 5% auto;
    }
}

@media screen and (min-width:750px) {
    header img {
        width: 50px;
    }

    .avatar {
        width: 150px;
        margin: 20px 0;
    }

    .ako {
        width: 130px;
        left: 15%;
        top: 50%;
    }

    p {
        padding: 15px;
        width: 300px;
    }
}

@media screen and (min-width:830px) {
    .ako {
        left: 20%;
    }

    .footer {
        margin: 70px auto;
    }
}

@media screen and (min-width:1000px) {
    body {
        max-width: 50%;
    }

    .ako {
        left: 30%;
        top: 55%;
    }
}