body {
    background-color: #41BABE;
    height: 100vh;
    overflow: hidden;

}

header nav {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 2%;
}

header nav a {
    width: 20%;
}

img[alt=logo] {
    width: 40px;
}

img[alt=avatar] {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

header h1 {
    font-family: 'Bubbler One', cursive;
    /* Ne pas oublier de mettre d'autre police */
    /* color: #9373ab; */
    /* color: #4B365E; */
    color: #473A53;
    text-align: center;
    margin: 2% 0;
    text-transform: uppercase;
}

.plateau {
    border: solid 2px black;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin: 0 auto;
}

th {
    background-color: rgb(180, 177, 177);
    width: 20%;
    height: 20%;
}

.boxImages {
    position: relative;
    height: 200px;
    width: 200px;
}

.imgRandom {
    position: relative;
    top: 100px;
    left: 100px;
    width: 22%;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 500px;
        margin: 0 auto;
    }

    .boxImages {
        margin-left: 30%;
    }
}