body {
    background-color: #d5e8d4;
    position: relative;
    overflow-x: hidden;
    user-select: none;
    height: 100vh;
}

#manav {
    margin-top: 3%;
    font-size: 2em;
}



.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    opacity: 0.5;
}

.navbar-light {
    background-color: #41BABE;
}

a.nav-item.nav-link {
    margin: 0 2%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFF;
    opacity: 1;
    background: url('img/ako.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* div.navbar-nav {
    margin-right: 35%;
} */

nav a {
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
}

nav a svg {
    fill: #FFF;
    width: 50px;
}

nav a svg:hover {
    fill: #FFF;
}

/* Accueil*/


.ballon {
    width: 15%;
    margin-top: 5%;
    margin-left: 40%;
    animation: ballon 1s forwards infinite alternate;
}

@keyframes ballon {
    from {
        transform: translateX(0px);
        transform: translateY(0px);
    }

    to {
        transform: translateX(20px);
        transform: translateY(20px);
    }
}

.mockup img {
    width: 85%;
}

.mobil {
    position: absolute;
    left: 25%;
}

.container {
    position: absolute;
    top: 20%;
}

.text {
    top: 50%;
    transform: translateY(25%);
}