body{
    background-color: #d5e8d4;
    position: relative;
    padding-top: 10%;
     overflow-x: hidden;
     
     user-select: none;

}



#manav{
    margin-top: 3%;
    font-size: 2em;
}
.navbar-light .navbar-nav .nav-link.active{

    background-image: url('img/ako.svg');
    background-repeat: no-repeat;
      background-position: center;
    color: white;
   
}
a.nav-item.nav-link{
    margin-left: 10%;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    opacity: 0.5;
  }
  .navbar-light .navbar-nav .nav-link:hover{
      color: white;
      opacity: 1;
      background: url('img/ako.svg');
      background-repeat: no-repeat;
      background-position: center;
  }
  div.navbar-nav{
     margin-right: 35%;
     
  }
  .fb{
      width: 15%;
      z-index: 999;
  }
/* Accueil*/


#accueil{
 
    display: table;
    height: 91vh;
    position: relative;
    width: 100%;
    
   
  }

.postext{
    margin-top: 10%;
      margin-left: 50%;
      text-align: center;
  }
  .ballon{
      width: 15%;
      margin-top: 5%;
      margin-left: 40%;
      animation: ballon 1s forwards infinite alternate;

  }

  .memory-game {
      display: flex;
      position: relative;
      bottom: 0%;

  }
  @keyframes ballon{
      from{
          transform: translateX(0px);
          transform: translateY(0px);
      }
      to{
        transform: translateX(20px);
        transform: translateY(20px);
      }
  }