body{
     margin: 0 auto;
}



.plateau {
    
    border: solid 2px black;
    width: 40%;
    height: 80vh;
    background-image: url('../../pictures/animaux/cheval.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    
}
th{
   background-color:rgb(180, 177, 177);

   width: 20%; 
}
.feu{
    position: absolute;
    top: 45%;
    left: 25%;
   text-align: center;
    background-color: purple;
    border-radius: 10%;
    animation: feu 2s;
}
@keyframes feu {
    from{
        width: 0;
        height: 0;

    }
    to{
        width: 50%;
        height: 20vh;
        
    }
}
@media (max-width:400px){
    .plateau{
        width: 100%;
        background-size: 80%;
        
    
    }

}