@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.memory-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plateau {
  width: 300px;
  height: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;

}

.memory-card {
  width: calc(25% - 10px);
  /* Changer la forme de la carte pour adaptation */
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.memory-card:hover {
  -webkit-box-shadow: 2px 2px 20px black;
  box-shadow: 2px 2px 20px black;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #9373ab;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.plateau h2 {
  color: #FFF;
  z-index: 99;
  font-size: 95%;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  position: relative;
  top: 80%;
}

.back-face {
  padding: 20px;
}

.memory-card .front-face img[alt="cheval"],
.memory-card .front-face img[alt="girafe"] {
  height: 60%;
}


div .front-face img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}